The archive file contains the:

- Aircraft Registration Master file (MASTER.txt = Contents, Dictionary = Master.PDF)
- Aircraft Dealer Applicant file
- Aircraft Document Index file
- Aircraft Reference file by Make/Model/Series Sequence
- Deregistered Aircraft file
- Engine Reference file
- Reserve N-Number file

In [25]:
import pandas as pd

# Pandas options
pd.set_option('max_colwidth', 40)
pd.options.display.max_columns = None  # Possible to limit
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

### Aircraft Registration Master file

In [26]:
# Replace 'your_file.txt' with the path to your text file
df_aircraft_registration_2015 = pd.read_csv('MASTER.txt', sep=',')

C:\Users\nickb\AppData\Local\Temp\ipykernel_8388\2028972755.py:2: DtypeWarning: Columns (15,18,19,24,25,26,27,28,30,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df_aircraft_registration_2015 = pd.read_csv('MASTER.txt', sep=',')

In [27]:
df_aircraft_registration_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437916 entries, 0 to 437915
Data columns (total 35 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   N-Number                 437916 non-null  object
 1   Serial Number            437916 non-null  object
 2   AircraftMFRModelCode     437916 non-null  object
 3   Engine MFR Code          437916 non-null  object
 4   Year Mfr                 437916 non-null  object
 5   Type Registrant          0 non-null       float64
 6   Name                     437916 non-null  object
 7   Street1                  437916 non-null  object
 8   Street2                  437916 non-null  object
 9   City                     437916 non-null  object
 10  State                    437916 non-null  object
 11  ZIP                      437916 non-null  object
 12  Region                   437916 non-null  object
 13  County                   437916 non-null  object
 14  Country                  437916 non-null  object
 15  LastActivity Date        437916 non-null  object
 16  CertIssueDate            437916 non-null  object
 17  Certification Requested  437916 non-null  object
 18  TypeAcft                 437916 non-null  object
 19  Type Engine              437916 non-null  object
 20  StatusCode               437916 non-null  object
 21  Mode S Code              437916 non-null  int64
 22  Fractional Ownership     437916 non-null  object
 23  Airworthiness Date       437916 non-null  object
 24  Other Name 1             39309 non-null   object
 25  Other Name 2             3897 non-null    object
 26  Other Name 3             1229 non-null    object
 27  Other Name 4             645 non-null     object
 28  Other Name 5             515 non-null     object
 29  Expiration Date          437916 non-null  object
 30  UniqueID                 437916 non-null  object
 31  Kit MFR Code             437916 non-null  object
 32  Kit Model                0 non-null       float64
 33  Mode S Code Hex          0 non-null       float64
 34  Unnamed: 34              1 non-null       object
dtypes: float64(3), int64(1), object(31)
memory usage: 116.9+ MB

In [28]:
df_aircraft_registration_2015.head()

,N-Number,Serial Number,AircraftMFRModelCode,Engine MFR Code,Year Mfr,Type Registrant,Name,Street1,Street2,City,State,ZIP,Region,County,Country,LastActivity Date,CertIssueDate,Certification Requested,TypeAcft,Type Engine,StatusCode,Mode S Code,Fractional Ownership,Airworthiness Date,Other Name 1,Other Name 2,Other Name 3,Other Name 4,Other Name 5,Expiration Date,UniqueID,Kit MFR Code,Kit Model,Mode S Code Hex,Unnamed: 34
0,1AJ,156H,7220282,41514,1973,NaN,JENKINS ARTHUR J ...,PO BOX 129,,KILA,MT,599200129,S,29,US,20141105,19730815,42,4,1,V,50000013,,19791004,NaN,NaN,NaN,NaN,NaN,20180331,90000,,NaN,NaN,NaN
1,7D,D-1,4970150,41508,1951,NaN,HOLLIDAY MARK E ...,PO BOX 243,,LAKE ELMO,MN,550420243,C,163,US,20131127,20110401,42,4,1,V,52250047,,20110811,NaN,NaN,NaN,NaN,NaN,20170430,300000,,NaN,NaN,NaN
2,1BH,1951034,13007S6,43101,1972,NaN,HINSON BOBBY W ...,PO BOX 988,,LANCASTER,SC,297210988,7,57,US,20140227,19720404,42,6,1,V,50000043,,19740920,NaN,NaN,NaN,NaN,NaN,20170430,240000,,NaN,NaN,NaN
3,721NM,11E-1001,7320100,17160,2008,NaN,CINCO FUND III LLC ...,PO BOX 8152,,WACO,TX,767148152,2,309,US,20150511,20120607,41,4,1,V,52324173,,20130322,NaN,NaN,NaN,NaN,NaN,20180630,389719,,NaN,NaN,NaN
4,6334,,,,,NaN,NIEUPORT LLC ...,20406 FORTUNES WAY,,REMINGTON,VA,227341716,1,61,US,,,,,,5,52045705,,,NaN,NaN,NaN,NaN,NaN,20160903,,,NaN,NaN,NaN

We can see multiple columns that have date/time in a format that is not datetime, so we'll correct this

In [29]:
df_aircraft_registration_2015['LastActivity Date'] = pd.to_datetime(df_aircraft_registration_2015['LastActivity Date'], errors='coerce')
df_aircraft_registration_2015['CertIssueDate'] = pd.to_datetime(df_aircraft_registration_2015['CertIssueDate'], errors='coerce')
df_aircraft_registration_2015['Airworthiness Date'] = pd.to_datetime(df_aircraft_registration_2015['Airworthiness Date'], errors='coerce')
df_aircraft_registration_2015['Expiration Date'] = pd.to_datetime(df_aircraft_registration_2015['Expiration Date'], errors='coerce')

Additional Data Diving

In [30]:
# What is the count of aircraft that expire in 2015 or later?
df_aircraft_registration_2015['Expiration Date'].dt.year.value_counts().sort_index()

# Show only aircraft rows that expire before 2011
df_aircraft_registration_2015[df_aircraft_registration_2015['Expiration Date'].dt.year < 2011]

1979.0         2
1986.0         1
1987.0         2
1988.0         2
1989.0         1
1991.0         1
1994.0         2
1998.0         1
2011.0      3385
2012.0      4113
2013.0      4124
2014.0      3731
2015.0     11024
2016.0     74898
2017.0     99822
2018.0    106752
2019.0     19900
Name: Expiration Date, dtype: int64

,N-Number,Serial Number,AircraftMFRModelCode,Engine MFR Code,Year Mfr,Type Registrant,Name,Street1,Street2,City,State,ZIP,Region,County,Country,LastActivity Date,CertIssueDate,Certification Requested,TypeAcft,Type Engine,StatusCode,Mode S Code,Fractional Ownership,Airworthiness Date,Other Name 1,Other Name 2,Other Name 3,Other Name 4,Other Name 5,Expiration Date,UniqueID,Kit MFR Code,Kit Model,Mode S Code Hex,Unnamed: 34
22873,274SC,,,,,NaN,SERVICE CO ...,1501 E KENT,,LUBBOCK,TX,79403,2,303,US,NaT,NaT,,,,5,50533353,,NaT,NaN,NaN,NaN,NaN,NaN,1979-09-11,,,NaN,NaN,NaN
40146,420Z,,,,,NaN,SANDFORD GRAVES M. ...,115 RAINBOW VILLAGE TRAILER COURT,,COLUMBIA,MO,65201,3,19,US,NaT,NaT,,,,5,51176736,,NaT,NaN,NaN,NaN,NaN,NaN,1979-12-28,,,NaN,NaN,NaN
109606,307MP,,,,,NaN,METRO-DADE POLICE DEPARTMENT ...,1320 NW 14TH STREET/ART EPPERSON,,MIAMI,FL,33125,7,25,US,NaT,NaT,,,,5,50635164,,NaT,NaN,NaN,NaN,NaN,NaN,1987-03-01,,,NaN,NaN,NaN
110660,308MP,,,,,NaN,METRO DADE POLICE DEPT ...,4391 N W 150TH STREET ROAD,,OPA LOCKA,FL,33054,7,25,US,NaT,NaT,,,,5,50637053,,NaT,NaN,NaN,NaN,NaN,NaN,1988-02-02,,,NaN,NaN,NaN
110662,309MP,,,,,NaN,METRO DADE POLICE DEPT ...,4391 N W 150TH STREET ROAD,,OPA LOCKA,FL,33054,7,25,US,NaT,NaT,,,,5,50640742,,NaT,NaN,NaN,NaN,NaN,NaN,1988-02-02,,,NaN,NaN,NaN
111395,146B,,,,,NaN,MAULE AIR INC ...,ROUTE 5 BOX 319,,MOULTRIE,GA,31768,7,71,US,NaT,NaT,,,,5,50134423,,NaT,NaN,NaN,NaN,NaN,NaN,1994-01-25,,,NaN,NaN,NaN
111511,181B,,,,,NaN,MAULE AIR INC ...,ROUTE 5 BOX 319,,MOULTRIE,GA,31768,7,71,US,NaT,NaT,,,,5,50242174,,NaT,NaN,NaN,NaN,NaN,NaN,1994-01-25,,,NaN,NaN,NaN
117945,217TT,,,,,NaN,TULSA TECHNOLOGY CENTER/ANDY EURSEY ...,1211 W 36TH ST N,,TULSA,OK,741271517,2,143,US,NaT,NaT,,,,5,50352476,,NaT,NaN,NaN,NaN,NaN,NaN,1998-02-26,,,NaN,NaN,NaN
119587,44,,,,,NaN,FEDERAL AVIATION ADMINISTRATION ...,NATL FLIGHT PROGRAM OVERSIGHT OFC,6125 SW 68TH STREET ROOM 137N,OKLAHOMA CITY,OK,73169,2,109,US,NaT,NaT,,,,5,51244103,,NaT,NaN,NaN,NaN,NaN,NaN,1989-11-19,,,NaN,NaN,NaN
121257,7153Q,,,,,NaN,S S P COMPANY ...,113 VINE STREET SUITE 101,,DALLAS,TX,75204,2,113,US,NaT,NaT,,,,5,52310560,,NaT,NaN,NaN,NaN,NaN,NaN,1991-08-05,,,NaN,NaN,NaN
125300,87MP,,,,,NaN,DEPARTMENT OF NATURAL RESOURCES ...,3900 COMMONWEALTH BLVD,,TALLAHASSEE,FL,32303,7,7,US,NaT,NaT,,,,5,52772436,,NaT,NaN,NaN,NaN,NaN,NaN,1987-06-08,,,NaN,NaN,NaN
222610,21NJ,,,,,NaN,NEW JERSEY STATE POLICE ...,PO BOX 68 RIVER ROAD,,W TRENTON,NJ,8624,1,21,US,NaT,NaT,,,,5,50334136,,NaT,NaN,NaN,NaN,NaN,NaN,1986-03-09,,,NaN,NaN,NaN

In [31]:
df_aircraft_registration_2015['Name'].value_counts()

CANCELLED/NOT ASSIGNED                                88399
WELLS FARGO BANK NORTHWEST NA TRUSTEE                  2898
REGISTRATION PENDING                                   2372
SALE REPORTED                                          1938
GULFSTREAM AEROSPACE CORP                              1203
                                                      ...
SHEPARD TIMOTHY R                                         1
NORMANDIN PAUL F                                          1
JORDAN CONSULTING INC                                     1
BLACKBRIDGE HOLDINGS LLC                                  1
AKA HOLDINGS LLC                                          1
Name: Name, Length: 226342, dtype: int64

In [32]:
df_aircraft_registration_2015.head()

,N-Number,Serial Number,AircraftMFRModelCode,Engine MFR Code,Year Mfr,Type Registrant,Name,Street1,Street2,City,State,ZIP,Region,County,Country,LastActivity Date,CertIssueDate,Certification Requested,TypeAcft,Type Engine,StatusCode,Mode S Code,Fractional Ownership,Airworthiness Date,Other Name 1,Other Name 2,Other Name 3,Other Name 4,Other Name 5,Expiration Date,UniqueID,Kit MFR Code,Kit Model,Mode S Code Hex,Unnamed: 34
0,1AJ,156H,7220282,41514,1973,NaN,JENKINS ARTHUR J ...,PO BOX 129,,KILA,MT,599200129,S,29,US,2014-11-05,1973-08-15,42,4,1,V,50000013,,1979-10-04,NaN,NaN,NaN,NaN,NaN,2018-03-31,90000,,NaN,NaN,NaN
1,7D,D-1,4970150,41508,1951,NaN,HOLLIDAY MARK E ...,PO BOX 243,,LAKE ELMO,MN,550420243,C,163,US,2013-11-27,2011-04-01,42,4,1,V,52250047,,2011-08-11,NaN,NaN,NaN,NaN,NaN,2017-04-30,300000,,NaN,NaN,NaN
2,1BH,1951034,13007S6,43101,1972,NaN,HINSON BOBBY W ...,PO BOX 988,,LANCASTER,SC,297210988,7,57,US,2014-02-27,1972-04-04,42,6,1,V,50000043,,1974-09-20,NaN,NaN,NaN,NaN,NaN,2017-04-30,240000,,NaN,NaN,NaN
3,721NM,11E-1001,7320100,17160,2008,NaN,CINCO FUND III LLC ...,PO BOX 8152,,WACO,TX,767148152,2,309,US,2015-05-11,2012-06-07,41,4,1,V,52324173,,2013-03-22,NaN,NaN,NaN,NaN,NaN,2018-06-30,389719,,NaN,NaN,NaN
4,6334,,,,,NaN,NIEUPORT LLC ...,20406 FORTUNES WAY,,REMINGTON,VA,227341716,1,61,US,NaT,NaT,,,,5,52045705,,NaT,NaN,NaN,NaN,NaN,NaN,2016-09-03,,,NaN,NaN,NaN

### Aircraft Reference file by Make/Model/Series Sequence

In [33]:
column_names = ['MFR-NAME', 'MODEL-NAME','TYPE-AIRCRAFT','TYPE-ENGINE','AC-CATEGORY','AMAT-TC-BUILT','NUMBER-ENGINES','NUMBER-SEATS','AC-WEIGHT','SPEED','MFR-MDL-CODE','KIT-CODE','empty_column'] 

df_aircraft_registration_2015_aircraft_model = pd.read_csv('AcftRef.txt', sep=',', header=None, index_col=0, names=column_names)

In [34]:
df_aircraft_registration_2015_aircraft_model.info()
df_aircraft_registration_2015_aircraft_model.reset_index(inplace=True)

<class 'pandas.core.frame.DataFrame'>
Index: 80495 entries, AERO-ACE                       to BENJAMIN PELLETIER
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MODEL-NAME      80495 non-null  object
 1   TYPE-AIRCRAFT   80495 non-null  int64
 2   TYPE-ENGINE     80495 non-null  int64
 3   AC-CATEGORY     80495 non-null  int64
 4   AMAT-TC-BUILT   80495 non-null  int64
 5   NUMBER-ENGINES  80495 non-null  int64
 6   NUMBER-SEATS    80495 non-null  int64
 7   AC-WEIGHT       80495 non-null  object
 8   SPEED           80495 non-null  int64
 9   MFR-MDL-CODE    80495 non-null  object
 10  KIT-CODE        80495 non-null  object
 11  empty_column    0 non-null      float64
dtypes: float64(1), int64(7), object(4)
memory usage: 8.0+ MB

In [35]:
df_aircraft_registration_2015_aircraft_model.head()

,MFR-NAME,MODEL-NAME,TYPE-AIRCRAFT,TYPE-ENGINE,AC-CATEGORY,AMAT-TC-BUILT,NUMBER-ENGINES,NUMBER-SEATS,AC-WEIGHT,SPEED,MFR-MDL-CODE,KIT-CODE,empty_column
0,AERO-ACE,CE 1,4,1,1,1,1,1,CLASS 1,82,00301BR,,NaN
1,AMBRIOLE,BABY ACE,4,1,1,1,1,1,CLASS 1,82,00301BY,,NaN
2,ARMBRUSTER-CORBEN,BABY ACE,4,1,1,1,1,1,CLASS 1,82,00301B1,,NaN
3,BABY ACE,BURKHART SPECIAL,4,1,1,1,1,1,CLASS 1,82,00301CB,,NaN
4,BABY ACE,C,4,1,1,1,1,1,CLASS 1,82,00301CD,,NaN

These two CSV's will eventually be joined based on MFR-MDL-CODE

In [36]:
# Export CSV for aircraft registration
df_aircraft_registration_2015.to_csv('processed_csvs/processed_aircraft_registration_2015.csv', index=False)

# Export CSV for aircraft model details
df_aircraft_registration_2015_aircraft_model.to_csv('processed_csvs/processed_aircraft_registration_model_2015.csv', index=False)